<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="Features-section paddingTB60 ">
    <div class="container">
	<div class="row">
		<div class="col-md-12 site-heading ">
						<h3>Recepcion GymTec</h3>
						<p>Permite crear clases y consultar el calendario de actividades</p>
						<div class="border"></div>
					</div>
	</div>
	<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="col-md-12 feature-box">
								<img src="../assets/Clases.png" />
								<h4>Crear clases</h4>
								<p>Verifica que se pueda realizar una clase y la crea</p>
								<button type="button" (click)="nuevaclase()" class="btn btn-primary site-btn">nueva clase</button>

							</div>
						</div> <!-- End Col -->
						<div class="col-sm-6 col-md-3">
								<div class="col-md-12 feature-box">
                                <img src="../assets/Calendario.png" />
								<h4>Calendario de actividades</h4>
								<p>Muestra la informacion de las clases planeadas</p>
							    <button type="button" (click)="calendario()" class="btn btn-primary site-btn">Ver fechas</button>
							</div>
						</div> <!-- End Col -->	
									
	
					</div>
</div>
</div>
