<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>

<h2 class="text-center">Todas las sucursales</h2>
<div class="panel-body">
    <table class="table table-striped table-over">
        <tr>
            <th>Nombre</th>
            <th>Provincia</th>
            <th>Canton</th>
            <th>Distrito</th>
            <th>Fecha de apertura</th>
            <th>Capacidad</th>
            <th>Horario</th>
            <th>Administrador</th>
        </tr>
        <tr *ngFor="let row of sucursales">
            <td>{{row.nombre}}</td>
            <td>{{row.provincia}}</td>
            <td>{{row.canton}}</td>
            <td>{{row.distrito}}</td>
            <td>{{row.fecha_apertura}}</td>
            <td>{{row.capacidad}}</td>
            <td>{{row.horario}}</td>
            <td>{{row.administrador}}</td>
        </tr>
    </table>
</div>


<h2 class="text-center">Eliminar sucursal</h2>
<select [(ngModel)]="eliminar" (change)="deletesucursal(eliminar)">
  <option value="0"> - - - </option>
  <option *ngFor="let nombre of nombres">
    {{nombre}}
  </option>
</select>

<!-- muestra la opción seleccionada -->
<p [hidden]="eliminar == '0'">Ha eliminado la sucursal {{ verSeleccion }}</p>


<!------ Formulario para la creacion de una sucursal ---------->
<div class="container">
    <form #nueva="ngForm"  (ngSubmit)="sucursaldefault(nueva.value)" class="form-horizontal" role="form" >
        <h3 class="text-center">Crear sucursal default</h3>
        <div class="form-group">
            <label for="nombre" class="col-sm-3 control-label">Nombre *</label>
            <div class="col-sm-9">
                <input type="text" name="nombre" ngModel placeholder="nombre" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="provincia" class="col-sm-3 control-label">Provincia</label>
            <div class="col-sm-9">
                <input type="text" name="provincia" ngModel placeholder="provincia" class="form-control" autofocus>
            </div>
        </div>        
        <div class="form-group">
            <label for="canton" class="col-sm-3 control-label">Canton</label>
            <div class="col-sm-9">
                <input type="text" name="canton" ngModel placeholder="canton" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="distrito" class="col-sm-3 control-label">Distrito</label>
            <div class="col-sm-9">
                <input type="text" name="distrito" ngModel placeholder="distrito" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="fecha_apertura" class="col-sm-3 control-label">Fecha de apertura</label>
            <div class="col-sm-9">
                <input type="date" name="fecha_apertura" ngModel placeholder="fecha de apertura" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="capacidad" class="col-sm-3 control-label">Capacidad</label>
            <div class="col-sm-9">
                <input type="number" name="capacidad" ngModel placeholder="capacidad" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="horario" class="col-sm-3 control-label">Horario</label>
            <div class="col-sm-9">
                <input type="text" name="horario" ngModel placeholder="horario" class="form-control">
            </div>
        </div>
        <div class="form-group">
                <label for="administrador" class="col-sm-3 control-label">Administrador *</label>
            <div class="col-sm-9">
                <input type="number" name="administrador" ngModel placeholder="administrador" class="form-control">
            </div>
        </div>
                 
        <button type="submit" class="btn btn-primary btn-block">Crear</button>
    </form> <!-- /form -->
</div> <!-- ./container -->