<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<h1 class="text-center">Rol: Administrador</h1>
	<div class="container">
	<div class="row">
	
	<!--opcion-1-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="../assets/Sucursales.png" class="img-fluid" />
	<h3>Gestionar Sucursales</h3>
	</div>
	
	<div class="team-back">
        <input type="button" (click)="sucursales()" value="-">
	</div>
	
	</div>
	</div>
	<!--opcion-1-->
	
	<!--opcion-2-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="../assets/Puestos.png" class="img-fluid" />
	<h3>Gestionar puestos y planilla</h3>
	</div>
	
	<div class="team-back">
        <input type="button" (click)="puestosplanilla()" value="-">
	</div>
	
	</div>
	</div>
	<!--opcion-2-->
	
	<!--opcion-3-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="../assets/Empleados.png" class="img-fluid" />
	<h3>Gestionar empleados</h3>
	</div>
	
	<div class="team-back">
        <input type="button" (click)="empleados()" value="-">
	</div>
	
	</div>
	</div>
	<!--opcion-3-->
	
	<!--opcion-4-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="../assets/Servicios.png" class="img-fluid" />
	<h3>Gestionar servicios y actividades</h3>
	</div>
	
	<div class="team-back">
        <input type="button" (click)="servicios()" value="-">
	</div>
	
	</div>
	</div>
	<!--opcion-4-->
	
	<!--opcion-5-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="../assets/Equipo.png" class="img-fluid" />
	<h3>Gestionar equipos y su tipo</h3>
	</div>
	
	<div class="team-back">
        <input type="button" (click)="equipo()" value="-">
	</div>
	
	</div>
	</div>
	<!--opcion-5-->
	
	<!--opcion-6-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="../assets/Producto.png" class="img-fluid" />
	<h3>Gestionar inventario y productos</h3>
	</div>
	
	<div class="team-back">
        <input type="button" (click)="productos()" value="-">
	</div>
	
	</div>
	</div>
	<!--opcion-6-->

	
	</div>
	</div>
	